<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<% if (data) { %>

    <body style="background-color: <%= data.color %>;">
<% } else { %>

    <body>

    <% } %>

                        <form action="/" method="POST">
                            <label>Ingrese su nombre: </label>
                            <input type="text" name="nombre"><br>

                            <label>Seleccione un color: </label>
                            <select name="color">
                                <option value="">Seleccione...</option>
                                <option value="gray">Gris</option>
                                <option value="lightgreen">Verde Claro</option>
                                <!-- Agrega más colores aquí -->
                            </select><br>

                            <label>Ingrese su email: </label>
                            <input type="email" name="email"><br>

                            <label>Ingrese su edad: </label>
                            <input type="number" name="edad"><br>

                            <button type="submit">Enviar</button>
                        </form>

                        <% if (data) { %>
                            <p>Hola <%= data.nombre %>, elegiste el color: <%= data.color %>, tu email es: <%=
                                            data.email %> y tu edad es: <%= data.edad || 'No especificado' %>
                            </p>
                            <% } %>

                                <% if (errors) { %>
                                    <% errors.forEach(error=> { %>
                                        <p style="color: red;">
                                            <%= error.msg %>
                                        </p>
                                        <% }) %>
                                            <% } %>
                </body>

</html>